@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

html {
  background: black;
}

body {
  margin: 20px 20px 20px 20px;
  text-align: center;
}

h1 {
  font-family: Bungee;
  color: white;
}

a:-webkit-any-link {
  color: white;
  font-size: 16pt;
  font-weight: bold;
}

#links {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#links>a{
  padding: 20px 20px 20px 20px;
}
